<style>

</style>


<% if false %>
<%= react_component("HelloMessage", { name: "Hello" }) %>
<%= javascript_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'drag_line' %>
<p onclick="javascript:alert(1);">hello bla</p>
<%= react_component("App123") %>
<% end %>






