<h1>Stories#index</h1>
<%= link_to "Create", stories_path,method: :post %>
<div class="stories-container">
  <% @stories.each do |story| %>
    <div class="story-card">
      <div><%= story.title  %></div>
      <div><%= story.category %></div>
      <%= link_to "View",story_path(story) %>
    </div>
  <% end %>
</div>
