.block {
  cursor: pointer;
/*  text-align: center
*/
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  z-index: 99;
}

.window {
  border-radius: 10px;
}

.window-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #24292E;
  color: white;
  text-align: center;
}

.window-body {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.container {
  position: relative;
}

.line-XYZ {
  z-index: 0 !important;

}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color:#2A333C;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 4px;
}

.button-hang {
  border-top: 3px solid rgba(0,0,0,0.1);
}
.content {
  padding: 10px;
  color: black;
}

.navbar2{
  padding: 10px;
  width:100%;
  background-color: #2A333C;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.window-split {
  margin: 5px;
}

#add-btn {
  border-radius: 50%;
  font-size: 30px;
  background-color: RGBA(34, 34, 34, 1.00);
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

#add-btn:hover {

  background-color: RGBA(51, 51, 51, 1.00);
}

.story-maker {
  position: relative;
}
