.block {
/*  text-align: center
*/
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  z-index: 0;
  background-color: white;
}

.window {
  border-radius: 6px;
}

.window-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #24292E;
  color: white;
  text-align: center;
  cursor: pointer;

}
.window img {
  width: auto;
  height: 150px;
}

.window video {
  width:320px;
  height:240px;
}

.window-title-active {
  background-color: RGBA(197, 47, 36, 1.00);
}

.window-body {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.container {
  position: relative;
}

.line-XYZ {
  z-index: 0 !important;

}

.toolbar {

}

.toolbar-item {
  cursor: pointer;
  margin: 0px 10px;
  color: RGBA(34, 34, 34, 1.00);

}
.toolbar-item:hover {
  color: RGBA(51, 51, 51, 0.9);

}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: RGBA(34, 34, 34, 1.00);
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: RGBA(51, 51, 51, 0.9);
}

.button-hang {
  border-top: 3px solid rgba(0,0,0,0.1);
}


.content {
  padding: 10px;
  color: black;
}

.navbar2{
  padding: 10px;
  width:100%;
  background-color: #2A333C;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.window-split {
  margin: 5px;
}

#add-btn {
  border-radius: 50%;
  font-size: 30px;
  background-color: RGBA(34, 34, 34, 1.00);
  color: white;
  cursor: pointer;
  position: fixed;
  top: 80px;
  left: 10px;
}

#add-btn:hover {
  background-color: RGBA(51, 51, 51, 0.9);
}

.story-maker {
  //position: relative;
}


body {
    background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
  background-size: 71px 71px;
  background-attachment: fixed;
}
