.stories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #E5F3F4;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;

}

.btn {
/*  background-color: #31B0D5;
  border-color: black;*/
}

.navbar-wagon {
  background-color: #2A333C;
}
