.stories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 10px;
  background-color: #E5F3F4;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
  background-size: cover !important;

}

.story-card .btn-delete {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}
.story-card .btn-delete:hover {
  color: grey;
}

.story-card .title {
  color: white;
  margin: 120px 10px 10px 10px;
}

a:hover {
  text-decoration: none;

}

.btn {
/*  background-color: #31B0D5;
  border-color: black;*/
}

.navbar-wagon {
  background-color: #2A333C;
}
