<div class="navbar-wagon">
  <!-- Logo -->
  <!-- <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->
  <%= link_to "Create", stories_path,method: :post, class: "btn btn-info" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <!-- <li><a href="#">Profile</a></li> -->
          <!-- <li><a href="#">Dashboard</a></li> -->
          <!-- <li><a href="#">Log Out</a></li> -->
          <!-- <a href="/users/sign_out">log out</a> -->
          <li><%= link_to 'Sign in', user_session_path unless signed_in? %></li>
          <li><%= link_to 'Sign out now!!!', destroy_user_session_path if signed_in? %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div> -->
</div>
